body {
	text-align: center;
	background-image: linear-gradient(-90deg,  black,  black , #d459a8);
}
.menu-item {
	display: flex;
	flex-direction: column;
}

@media (max-width: 400px) {
	nav {
		display: flex;
	}

}
@media (max-width: 400px){
main {
	display: flex;
	flex-direction: column;
	align-items: center;
}
}
section {
	box-shadow: 0px 0px 7px 4px white
}
@media (max-width: 400px) {
	section{
		width: 90%;
	}
}

div {
	display: flex;
}
@media (max-width: 400px) {
		div {
			width: 100%;
			flex-direction: column;
			align-items: center;
		}
	}
span {
	width: 100%;
	display: flex;
	align-items: center;
	flex-direction: column;
}
@media (max-width: 400px) {
	span {
		width: 80%;
	}
}

h1 {
	color: white;
}
p {
	color: white;
	font-size: 1.2rem;
}
img {
	width: 50%;
}
@media (max-width: 400px) {
	img {
		width: 99%;
	}
	}